<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>microCMS3回目-お知らせを実装するデモ-</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <style>
    body {
      font-family: sans-serif;
    }
    .topPageHeader {
      width: 100%;
      height: 60px;
      background-color: skyblue;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .topPageHeading {
      border-bottom: 4px solid skyblue;
    }
    .topPageNews {
      list-style:none;
      display:grid;
      grid-template-columns:1fr 1fr;
    }
    .topPageNews__item{
      border:1px solid gray;
      border-radius:5px;
      margin-bottom:2.5rem;
      padding:1rem;
      width:560px;
    }
    .topPageNews__Heading{
      display:flex;
      align-items:center;
    }
    .topPageNews__category{
      margin-left:0.5rem;
      background-color:gray;
      color:white;
      border-radius:5px;
      padding:0.25rem 1rem;
    }
    .topPageNews__important{
      margin-left:0.5rem;
      background-color:tomato;
      color:white;
      border-radius:5px;
      padding:0.25rem 1rem;
    }
    .-important {
      color:red
    }
    </style>
  </head>
  <body>
    <header class="topPageHeader">〇〇株式会社</header>
    <div>
        <h2 class="topPageHeading">お知らせ</h2>
        <ul class="topPageNews">
      {% for article in news %}
        <li class="topPageNews__item">
          <img src="{{article.thumbnail.url | optimizeImage(560)}}" alt="{{article.thumbnailAlt}}">
          <div class="topPageNews__Heading">
            <time class="topPageNews__date">{{article.date | formatDate('YYYY/MM/DD')}}</time>
            <span class="topPageNews__category">{{article.category}}</span>
            {% if article.isImportant %}
              <span class="topPageNews__important">重要</span>
            {% endif %}
          </div>
          <h3>{{article.title}}</h3>
          <p class="topPageNews__paragraph">
          {{article.paragraph }}
          </p>
        </li>
      {% endfor %}

      </ul>
    </div>
  </body>
</html>